[Unit]
Description=Webhook Service for Outer Rim
After=network.target

[Service]
Type=simple
User=xbonell
Group=xbonell
WorkingDirectory=/opt/docker-stack
ExecStart=/usr/bin/webhook -hooks /opt/docker-stack/hooks/hooks.json -verbose -port 9000
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target 